/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

/*Header*/
.header_developer-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 8px;
    width: 109px;
    text-align: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wrapper{
    display: flex;
    lex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between ;
    padding: 42px;
}
.header_list{
    display: flex;
    lex-wrap: wrap;
}

.header_nav{
    margin: 0 auto;
}

.header_item{
    margin-right: 32px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-family:'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

/*.header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
}*/

/*Intro*/

.intro{
    padding-top: 184px;
}

.intro_title{
    max-width: 900px;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 40px;
}

.intro_subtitle{
    max-width: 417px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 80px;
}
.intro_kp{
    font-family: 'Raleway';
    font-weight: 500;
    padding: 15px 24px 15px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-left: 360px;
    margin-right: 15px;
}

.intro_kp1{
    font-family: 'Raleway';
    font-weight: 600;
    padding: 15px 24px 15px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}
.intro_button3{
    margin-left: 365px;
    background-color:black;
    color: white;
    border-radius: 15px;
    padding: 4px 16px 4px 16px;
    margin-right: 17px;
    margin-top: 110px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.intro_button4{
    background-color:white;
    color: black;
    border-radius: 15px;
    padding: 4px 16px 4px 16px;
    margin-right: 17px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.intro_button5{
    background-color:white;
    color: black;
    border-radius: 15px;
    padding: 4px 16px 4px 16px;
    margin-right: 17px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}
.photo_1{
    margin-left: 150px;
    border-radius: 12px;
    padding: 4px 16px 4px 16px;
    margin-right: 17px;
    margin-top: 35px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.photo___{
    grid-column: span 1;
}

.photo{
    height: 354px;
    margin-left: 85px;
    margin-top: 15px;
}

.photo12{
    height: 354px;
    margin-right: 150px;
    margin-left: 690px;
    margin-top: -25.5%;
    margin-bottom: 300px;
}

.photo_3{
    margin-left: 150px;
    border-radius: 12px;
    padding: 4px 16px 4px 16px;
    margin-right: 17px;
    margin-top: 35px;
}
.pic_3{
    margin-left: 250px;
    margin-top: 150px;
}
.AM_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 24px;
    letter-spacing: -0.02em;
    margin-top: -47%;
    margin-left: 500px;
}
.AM_subtitle{

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 300px;
    margin-left: 500px;
    margin-top: -35%;
}
.AM_stat{
    display: flex;
    margin-top: 23%;
}
.AM_stat_proj_num{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    margin-right: 102px;
    margin-left: 500px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.AM_stat_proj_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 64px;
    margin-left: 500px;
    margin-bottom: -15%;
}
.AM_stat_perc_num{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-right: 88px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.AM_stat_year_num{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.AM_stat_txt{
    display: flex;
}
.AM_stat_perc_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 64px;
}
.AM_stat_year_txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.ser{
    display:flex;
    flex-direction: column;
    gap: 70px;

    width: 1500px;
    height: 700px;
    margin-top:12%;
    margin-bottom:7%;
}
.ser_decoration{
    height: 780px;
    background-color: black;
}
.ser_header{
    display:flex;
    justify-content: center;
    margin-top: -684px;

    letter-spacing: -0.02em;
    line-height: 64px;
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.ser_blocks{
    display: flex;
    gap: 30px;
    align-self: center;

    width: 1160px;
    height: 384px;

}
.ser_blocks_left{
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 16px;

    width: 368px;
    height: 384px;
}
.ser_blocks_center{
    display:flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 16px;
    width: 368px;
    height: 384px;
}
.ser_blocks_right{
    display:flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 16px;
    width: 368px;
    height: 384px;
}
.ser_blocks_order{
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    opacity: 0.5;
    margin-left:40px;
    margin-top: 40px;
}
.ser_blocks_header{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-left:40px;
    margin-top: 4px;
}
.ser_blocks_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left:40px;
    margin-top: 4px;
}
.ser_blocks_line{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 0.2px solid #181818;
    margin-left:40px;
    margin-top: 26px;
}

.ser_blocks_price{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-left:40px;
    margin-top: 55px;
}
.price{
    display:flex;
    flex-direction: column;
    margin-top:120px;
    height: 650px
}
.price_header{
    display: flex;
    justify-content: center;
    margin-bottom:50%;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.price_pic_clock{
    display:flex;
    justify-content: flex-start;
}
.pic_clock_watch{
    margin-left: -70px;
    margin-top: -10px;
}
.pictures_clock_rectangle{
    margin-left: 90px;
    margin-top: 0px;
}
.price_pictures_proger{
    display:flex;
    justify-content: flex-end;
}
.pictures_proger_rectangle{
    margin-top: -5px;
    margin-right: -500px;
}
.pictures_proger_man{
    margin-top: -1000px;
    margin-right: 64px;
}
.price_calcu{
    display: flex;
    flex-direction: column;
    align-self:center;
    margin-top:-65%;
    
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    

    width: 448px;
    height: 368px;
}

 .price_calcu_button{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top:40px;
} 
.price_calcu_button-1{
    display:flex;
    align-items:center;
    justify-content: space-between;

    width: 400px;
    height: 48px;

    color: #808080;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 8px;
}
.calcu_button-1_txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}
.price_calcu_button_pic{
    display:flex;
    margin-right:21px;
}
.price_calcu_button-2{
    display:flex;
    align-items:center;
    justify-content: space-between;

    width: 400px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #808080;
    opacity: 0.5;
    border-radius: 8px;
}
.calcu_button-2_txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
}
.price_calcu_mark{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left:24px;
    margin-top:20px;
}
.price-calculator__low-button{
    display: flex;
    justify-content: center; 
    align-self:center; 
    margin-top:30px;

    width: 400px;
    height: 56px;
    border: 2px solid #181818;
    border-radius: 8px;
    background: #FFFFFF;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.price__approx{
    display: flex;
    flex-direction: column;
    align-self:center;
    gap:10px;
    
    width: 400px;
    height: 320px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
    margin-bottom:-15%;
}
.price_approx__header{
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;

    margin-left:24px;
}
.price_approx__info-1{
    display:flex;
    flex-direction: column;
    margin-left:24px;
    margin-top:5%;
}
.approx_info-1_money{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top:-10px;
    margin-top:1%;
}
.price_approx__info-2{
    display:flex;
    flex-direction:column;
    margin-top:8%;
    margin-left:24px;
}
.approx_info-2_time{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top:1%;
}
.price_approx_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:24px;
    margin-top:10%;

    width: 352px;
    height: 56px;

    background: #181818;
    border-radius: 8px;
}
.approx_button_txt{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.approx_info-2_txt{
    margin-top: -5%;
}
.faq{
    display: flex;
    flex-direction: column;
    margin-top:120px;
}
.faq__background{
    width: 1500px;
    height: 1232px;
    background: #181818;;
    margin-top:20%;
}
.faq__header{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    color:white;
    margin-top: -1100px;
    margin-left: 560px;
}
.faq__questions{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top:50px;
}
.faq-questions__pattern{
    display: flex;
    align-items:center;
    justify-content:space-between;
    align-self:center;

    width: 1160px;
    height: 88px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-left:40px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.faq-questions__pattern_extend{
    display:flex;
    margin-right:36px;
}
.faq-questions__tab{
    display:flex;
    flex-direction: column;
    align-self:center;

    width: 1160px;
    height: 328px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 16px;

}
.questions-tab__header{
    display:flex;
    margin-left:40px;
    margin-top:32px;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.questions-tab__header_krest{
    margin-left:890px;
}
.questions-tab__main{
    display:flex;
    margin-left:40px;
    margin-top:24px;

}
.questions-tab__list{
    display:flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left:40px;
    margin-top: 10px;
}
.application{
    display:flex;
    flex-direction: column;
    margin-top:15%;

    
}
.application__header{
    display:flex;
    justify-content: center;

    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.application__remark{
    display:flex;
    justify-content: center;
    margin-top:1%;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}
.application__write{
    display: flex;
    flex-direction: column;
    align-self:center;
    align-items:center;
    gap:24px;
    padding-top:10%;

    width: 448px;
    height: 552px;

    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.application-write__pattern{
    background: #FFFFFF;
    border-radius: 8px;
    padding-left:16px;
    margin-top:80px;
    margin-left:36%;

    width: 385px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    border: 1px solid #CCCCCC;
}
.application-write__service{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left:16px;
    margin-left:36%;

    width: 410px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #808080;
    border: 1px solid #CCCCCC;

}
.application-write__comm{
    box-sizing: border-box;
    padding-bottom:150px;
    padding-left:16px;
    padding-top: 12px;
    margin-left:36%;

    width: 410px;

    color: #808080;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    
}
.application-write__button{
    display: flex;
    justify-content: center;
    margin-top:7px;
    margin-left:36%;
    
    width: 425px;
    height: 50px;

    background: #181818;
    border-radius: 8px;

}
.write-button_text{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 3%;
}
.application-decoration-1{
    display:flex;
    justify-content: flex-end;
}
.application-decoration-2{
    display:flex;
}
.application-decoration-2__sms{
    margin-left:-95px;
    margin-bottom:50%;
    margin-top: -22.5%;

}
.application-decoration-2__rectangle{
    padding-left:260px;
    margin-bottom:50%;
    margin-top: -22.5%;
}
.application-decoration__socials{
    display:flex;
    flex-direction:column;
    gap: 27px;
    width:15px;
    height:35px;

    margin-left:70%;
    margin-top: -59.5%;
}

